
.paragrafo{
    padding: 1vh;
    list-style-type: none;
    font-size: 1.2rem;
    font-family:Georgia, 'Times New Roman', Times, serif
}


#wallpaperInicio{
    background-size: cover;
    margin-top: 1vh;
    min-height: 100vh;
    position: relative;
    text-align: center;
    font-family: 'Mochiy Pop P one', sans-serif;
  }

.listaCompleta{
  margin: 5rem 2rem;
  padding: 1rem 1rem;
  box-shadow: 1px -1px 27px 9px rgba(255, 255, 255, 1);
  -webkit-box-shadow:  1px -1px 27px 9px rgb(18, 18, 18);
  -moz-box-shadow: 1px -1px 27px 9px rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.607);

}

.image-container {
  position: relative;
  text-align: center;
  width: 100%;
}

body {
  margin: 0;
}

.text-overlay {
  position: absolute;
  top: 50%;
  color: rgb(0, 0, 0);
  font-size: 1vw; /* Utilizando unidade relativa vw para tornar responsivo */
  font-family: Arial, sans-serif;
}

.img {
  width: 100%; /* Garante que a imagem ocupe 100% da largura do seu contêiner */
  height: auto; /* Mantém a proporção da imagem */
  display: block;

}


@media (max-width: 1790px) {
  .text-overlay {
      top: 37%;
      font-size: 2vw; /* Ajuste para telas menores */
  }
}

@media (max-width: 1490px) {
  .text-overlay {
      top: 22%;
      font-size: 1vh; /* Ajuste para telas menores */
  }
  .letraInicio{
    font-size: 1.4vw;
  }
  .tituloHotel{
    font-size: 1.7vw;
  }
}

@media (max-width: 1320px) {
  .text-overlay {
      top: 15%;
      font-size: 1vh; /* Ajuste para telas menores */
  }
  .letraInicio{
    font-size: 1.3vw;
  }
  .tituloHotel{
    font-size: 1.7;
  }
  .camas div p{
    font-size: 0.8em;
  }
  
}

@media (max-width: 1240px) {
  .text-overlay {
      top: 5%;
      font-size: 1vh; /* Ajuste para telas menores */
  }
  .letraInicio{
    font-size: 1.3vw;
  }
  .tituloHotel{
    font-size: 1.7;
  }
  .camas div p{
    font-size: 0.5em;
  }
}

@media (max-width: 1070px) {
  .text-overlay {
      top: -10%;
      font-size: 1vh; /* Ajuste para telas menores */
  }
  .letraInicio{
    font-size: 1.3vw;
  }
  .tituloHotel{
    font-size: 1.7em;
  }
  .camas div p{
    font-size: 0.5em;
  }
}


.tituloHotel {
  font-family: 'Mochiy Pop P one', sans-serif;
}

.camas{
  margin: 2vh 10vh 2vh 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2em;

}

.camas aside{
  padding-left: 1vw;

}

.imgCama{
  height: 20vw;
}